henkiloviite.port={{palvelu_portti}}
henkiloviite.duplicatehenkilos.since=2010-01-01
henkiloviite.duplicatehenkilos.url=https://{{host_virkailija}}/authentication-service/resources/s2s/duplicatehenkilos
henkiloviite.username={{henkiloviite_cas_user}}
henkiloviite.password={{henkiloviite_cas_password}}
henkiloviite.cas.host=https://{{host_virkailija}}
henkiloviite.valintarekisteri.db.url=jdbc:postgresql://{{host_postgresql_valintarekisteri}}/valintarekisteri
henkiloviite.valintarekisteri.db.user={{host_postgresql_valintarekisteri_user}}
henkiloviite.valintarekisteri.db.password={{host_postgresql_valintarekisteri_password}}
